URxvt.*.background: #141c21
URxvt.*.foreground: #EEEEEE
URxvt.*.scrollBar: off
URxvt.print-pipe: true
!URxvt.*transparent: true
!URxvt.*.shading: 10

URxvt.perl-ext-common: default,selection-to-clipboard,tabbed,matcher,font-size,-tabbed


URxvt.font:     xft:bitstream vera sans mono:size=10:antialias=true
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=10:antialias=true

URxvt.print-pipe: true
URxvt.urgentOnBell: true

URxvt.keysym.C-Up:     font-size:decrease
URxvt.keysym.C-Down:      font-size:increase
URxvt.keysym.C-S-Up:        font-size:decglobal
URxvt.keysym.C-S-Down:      font-size:incglobal
URxvt.keysym.C-equal:     font-size:reset
URxvt.keysym.C-slash:  font-size:show

URxvt.iso14755          :false
